:root {
    --color-track: #21f3d0;
    --color-thumb: #e86ff3;
    --font-main: 'Grandview', sans-serif;
}

@font-face {
    font-family: 'Grandview';
    src: url('fonts/Grandview.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: var(--font-main);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.ventiladores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.ventilador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 250px;
    max-width: 200px;
    border: 2px solid #4062d0;
    border-radius: 10px;
    padding: 5px;
}

.ventilador {
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.valores {
    display: none;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}

.valores p {
    margin: 2px 0;
    display: flex;
    justify-content: flex-end;
}

.etiqueta,
.valor-num,
.unidades {
    display: inline-block;
    text-align: right;
}

.etiqueta {
    width: 130px;
    font-weight: bold;
}

.valor-num {
    width: 60px;
}

.unidades {
    width: 30px;
    text-align: left;
    margin-left: 5px;

}

.slider-container,
button {
    margin-top: 5px;
}

@media (max-width: 250px) {
    .ventilador-container {
        max-width: 100%;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #566ed0;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    background: var(--color-track);
    height: 6px;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
    background: var(--color-thumb);
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: -5px;
}